# MrEditor97's Home Assistant Apps Repository

Apps for Home Assistant. Allowing you to extend the functionality of your Home Assistant setup, these can be
installed and configured from within the Home Assistant frontend.

## Available Apps
{% for app in apps %}
### &#10003; [{{ app.name }}][app-{{ app.target }}]

![Latest Version][{{ app.target }}-version-shield]
![Supports aarch64 Architecture][{{ app.target }}-aarch64-shield]
![Supports amd64 Architecture][{{ app.target }}-amd64-shield]

{{ app.description }}

{% endfor %}

## Releases

Releases are based on [Semantic Versioning][semver], and use the format
of ``MAJOR.MINOR.PATCH``. In a nutshell, the version will be incremented
based on the following:

- ``MAJOR``: Incompatible or major changes.
- ``MINOR``: Backwards-compatible new features and enhancements.
- ``PATCH``: Backwards-compatible bugfixes and package updates.

## Support

You can open an issue here on GitHub. Note, we use a separate
GitHub repository for each app. Please ensure you are creating the issue
on the correct GitHub repository matching the app.

{% for app in apps %}
- [Open an issue for the app: {{ app.name }}][{{ app.target }}-issue]
{% endfor %}

For a general repository issue or app ideas [open an issue here][issue]

{% for app in apps %}

[app-{{ app.target }}]: {{ app.repo }}/tree/{{ app.version | replace("v", "") }}
[{{ app.target }}-issue]: {{ app.repo }}/issues
[{{ app.target }}-version-shield]: https://img.shields.io/badge/version-{{ app.version }}-blue.svg

{% for arch in ['aarch64', 'amd64'] %}
{% if arch in app.archs %}
[{{ app.target }}-{{ arch }}-shield]: https://img.shields.io/badge/{{ arch }}-yes-green.svg
{% else %}
[{{ app.target }}-{{ arch }}-shield]: https://img.shields.io/badge/{{ arch }}-no-red.svg
{% endif %}

{% endfor %}
{% endfor %}

[issue]: https://github.com/{{ name }}/issues
[semver]: http://semver.org/spec/v2.0.0.html